@import "tailwindcss";
@import "@nuxt/ui";

/*TAILWIND COLORS*/
@theme {
  --color-primary: #01193A;
  --color-accent: #014496;
  --color-foreground: #FAF9F6;
}

/*APP DEFAULT COLORS STYLING*/
@layer base {
  html, body {
    --ui-bg-elevated: var(--color-accent);
    font-family: 'Inter', sans-serif;

    background-color: var(--color-foreground);
    color: var(--color-primary);
  }
}